---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="404 - Not Found" description="Invalid page."
        primary="#e52d27" secondary="#b31217">
    <h1 class="font-bold text-4xl md:text-5xl mb-4" id="text">
        Redirecting in 3 seconds...
    </h1>

    <Button text="ðŸ  Click if you aren't being redirected" href="/"/>
</Layout>

<script>
    function redirect() {
        window.location.replace("/");
    }

    window.addEventListener("load", () => {
        setTimeout(redirect, 3000);
    });
</script>