---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Korii Bot" description=""
		primary="#0ea5e9" secondary="#14b8a6">
	<h1 class="font-bold text-4xl md:text-5xl neonText">
		Korii Bot 🤖
	</h1>

	<p class="text-neutral-800 dark:text-neutral-200 leading-6 tracking-wide mt-4">
        Korii Bot is an open-source Discord Bot that can do lots of cool stuff like server management, playing games, and sharing helpful info.
        It's highly customizable and constantly improving thanks to its open-source community.
	</p>

	<h2 class="font-bold text-3xl mt-12">
		What We Do 💭
	</h2>

	<p class="text-neutral-800 dark:text-neutral-200 leading-6 tracking-wide mt-2">
		We are driven by our passion for technology and curiosity to understand how things work.
		We are constantly learning and experimenting with new technologies to push the boundaries of what is possible.
		Our goal is to create innovative and practical solutions that make a positive impact on people's lives.
	</p>

</Layout>