---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Korino Development" description="Welcome to Korino Development."
		one="Home" two="Korii Bot" three="Korino PvP" four="Korino World"
		color1="#4776E6" color2="#8E54E9">
	<h1 class="font-bold text-4xl md:text-5xl">
		Korino Development ⚒️
	</h1>

	<p class="text-neutral-200 leading-6 tracking-wide mt-4">
		Korino Development is a dedicated and skilled team of developers who are passionate about delivering innovative and cutting-edge solutions.
		With a focus on quality and a strong work ethic, we as a small group are known for our ability to turn ideas into reality and deliver outstanding results on a variety of projects.
	</p>

	<h2 class="font-bold text-3xl mt-12">
		What We Do 💭
	</h2>

	<p class="text-neutral-200 leading-6 tracking-wide mt-2">
		We are driven by our passion for technology and curiosity to understand how things work.
		We are constantly learning and experimenting with new technologies to push the boundaries of what is possible.
		Our goal is to create innovative and practical solutions that make a positive impact on people's lives.
	</p>

	<h2 class="font-bold text-3xl mt-12">
		Projects ⚒️
	</h2>

	<p class="text-neutral-200 leading-6 tracking-wide mt-2">
		The Korino Development group specializes in Minecraft server creation, Discord bot development, and fostering a lively Discord community.
		Our work is known for its quality and innovation, with a focus on delivering exceptional user experiences.
	</p>

	<div class="flex flex-col md:flex-row gap-4 mt-2">
		<a href="/pvp" class="md:w-1/2">
			<div id="button" class="items-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 hover:bg-white/20 duration-500 rounded-lg">
				<h1 class="font-semibold text-xl text-rose-600">
					⛏️ Korino PvP
				</h1>
	
				<p class="mt-1">
					Korino PvP is a Minecraft Server that offers players a thrilling gaming experience.
				</p>
			</div>
		</a>

		<a href="/bot" class="md:w-1/2">
			<div id="button" class="items-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 hover:bg-white/20 duration-500 rounded-lg">
				<h1 class="font-semibold text-xl text-teal-600">
					🤖 Korii Bot
				</h1>

				<p class="mt-1">
					The Korii Discord Bot is a open-sourced multi-purpose Discord Bot with a lot of fun and useful features.
				</p>
			</div>
		</a>
	</div>

	<div class="flex flex-col md:flex-row gap-4 mt-4">
		<a href="/world" class="md:w-1/2">
			<div id="button" class="items-center backdrop-blur-sm border-2 border-white/10 bg-white/5 shadow-md gap-1 px-5 py-2 hover:bg-white/20 duration-500 rounded-lg">
				<h1 class="font-semibold text-xl text-amber-600">
					🦜 Korino World
				</h1>

				<p class="mt-1">
					Korino World is a lively Discord community where you can talk with people and more.
				</p>
			</div>
		</a>

		<a class="md:w-1/2"/>
	</div>



	<h2 class="font-bold text-3xl mt-12">
		Team 🫂
	</h2>

	<p class="text-neutral-200 leading-6 tracking-wide mt-2">
		The team at Korino Development is comprised of talented and hardworking developers who are passionate about delivering cutting-edge solutions.
		You can meet most of the team in our Discord server.
	</p>
</Layout>