---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Welcome to Astro." description="Welcome to Korino Development."
		one="Home" two="Korii Bot" three="Korino PvP" four="Korino World">
	<h1 class="text-7xl">
		Korino Development ⚒️
	</h1>
</Layout>