---
const year = new Date().getFullYear();
---

<div class="mt-6 w-full flex flex-col items-start border-t-2 border-white/10 px-4 py-4 mb-20">
    <h1 class="text-white text-2xl font-semibold">Korino Development</h1>
    <h2 class="text-neutral-400 text-base">Made with 💖 • 2022-{ year }</h2>
</div>