---
const year = new Date().getFullYear();
---

<div class="mt-6 w-full flex flex-col items-start border-t-2 border-white/10 px-4 py-4 mb-20">
	<h1 class="text-white text-2xl font-semibold">Korino Development</h1>
	<h2 class="text-neutral-400 text-base">Made with 💖 using
		<a class="bg-gradient-to-br bg-clip-text text-transparent from-purple-600 to-pink-500 transition-all duration-500 underline decoration-purple-600 hover:decoration-2" href="https://astro.build">Astro</a>
		and
		<a class="tailwind" href="https://tailwindcss.com">TailwindCSS</a>
		• 2022-{year}</h2>
</div>

<style>
	.tailwind {
		color: #0EA5E9;
	}
</style>