---
export interface Props {
	one: string;
	two: string;
	three: string;
	four: string;
}

const { one, two, three, four } = Astro.props;
---

<div id="menu" class="hidden">
	<div class="xl:gap-24 lg:gap-16 md:gap-12 sm:gap-8 gap-6" id="menu-items">
		<div class="menu-item">{ one }</div>
		<div class="menu-item">{ two }</div>
		<div class="menu-item">{ three }</div>
		<div class="menu-item">{ four }</div>
	</div>
	<div id="menu-background-pattern"></div>
	<div id="menu-background-image"></div>
</div>

<style>
	#nav {
		position: fixed;
		z-index: 9999999;
	}

	#menu {  
		align-items: center;
		display: flex;
		height: max-content;
		width: max-content;
	}

	#menu-background-pattern {
		background-image: radial-gradient(
			rgba(255, 255, 255, 0.1) 9%, 
			transparent 9%
		);
		background-position: 0% 0%;
		background-size: 12vmin 12vmin;
		height: 100vh;
		left: 0px;
		position: absolute;
		top: 0px;
		transition: opacity 800ms ease, 
			background-size 800ms ease,
			background-position 800ms ease;
		width: 100vw;
		z-index: 20;
	}

	#menu-items {
		z-index: 30;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

    #menu > #menu-background-pattern {
        background-position: 0% calc(-25% * (var(--active-index, 0) + 1));
    }

    #menu > #menu-background-image {
        background-position: center calc(45% + 25% * var(--active-index, 0));
    }

	#menu-items:hover ~ #menu-background-pattern {
		background-size: 11vmin 11vmin cover;
		opacity: 0.5;
	}

	#menu-items:hover ~ #menu-background-image {
		background-size: 100vmax cover;
		opacity: 0.1;
	}
	
	#menu-items:hover > .menu-item {
		opacity: 0.3;
	}

	#menu-items:hover > .menu-item:hover {
		opacity: 1;
	}

	.menu-item {
		color: white;
		cursor: pointer;
		display: block;
		font-size: clamp(3rem, 8vw, 8rem);
		padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
		text-decoration: none;
		transition: opacity 400ms ease;
	}
</style>
