---
import Menu from '../components/Menu.astro';

export interface Props {
	title: string;
	one: string;
	two: string;
	three: string;
	four: string;
}

const { title, one, two, three, four } = Astro.props;
---

<!-- <nav class="font-bold text-xl fixed py-2 px-6 z-50 bg-black/20 backdrop-blur-lg w-full flex flex-row justify-between items-center">
    <div>
        <h1 class="text-2xl md:text-3xl">
            { title }
        </h1>
    </div>

    <div>
        <button title="show menu button" id="toggleNavbarButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12">
                <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm8.25 5.25a.75.75 0 01.75-.75h8.25a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</nav> -->


<nav class="">
	
</nav>

<!-- <Menu one={ one } two={ two } three={ three } four={ four }/> -->


<script>
	const menu = document.getElementById("menu")!;
	const main = document.getElementById("main")!;
	const toggleNavbarButton = document.getElementById("toggleNavbarButton")!;
	const menuItems = document.querySelectorAll("div.menu-item");
	const blob = document.getElementById("blob")!;

	toggleNavbarButton.addEventListener("click", () => {
		if (menu.classList.contains("hidden")) {
			menu.classList.remove("hidden");
			menu.classList.add("visible");
			main.classList.remove("visible");
			main.classList.add("hidden");
		} else {
			menu.classList.remove("visible");
			menu.classList.add("hidden");
			main.classList.remove("hidden");
			main.classList.add("visible");
		};
	});

	menuItems.forEach((item, index) => {
		item.addEventListener("mouseenter", () => {
			menu.style.setProperty("--active-index", index);
			blob.style.setProperty("filter", "blur(100px)");
		});

		item.addEventListener("mouseleave", () => {
			blob.style.setProperty("filter", "blur(200px)");
		});
	});
</script>