---
import Button from '../components/Button2.astro';

let home, pvp, bot, world = false;

if (Astro.url.toString().includes("pvp")) {
	pvp = true;
} else if (Astro.url.toString().includes("bot")) {
	bot = true;
} else if (Astro.url.toString().includes("world")) {
	world = true;
} else {
	home = true;
}
---

<nav class="z-[999] fixed w-[90%] md:w-[50rem] xs:flex flex-row justify-between items-center px-4 py-2 mt-4 md:mt-6 rounded-md bg-white/5 border-2 border-white/10 backdrop-blur-sm">
    <div class="flex flex-row items-center gap-1 sm:gap-2 md:gap-4">
		<Button text="Home" href="/" click={ home }/>
		<Button text="Korino PvP" href="/pvp" click={ pvp }/>
		<Button text="Korii Bot" href="/bot" click={ bot }/>
		<Button text="Korino World" href="/world" click={ world }/>
    </div>
</nav>